<div class="card p-2">
  <div class="text-center my-3 text-gray-600">
    <span class="d-block">Courses Pie</span>
    <span class="d-block">Stats Period</span>
  </div>
  <div class="my-3">
    <div class="grades-statbox mx-auto">
      <canvas baseChart [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions" [type]="doughnutChartType"
        class="grades-chart">
      </canvas>
      <div class="grades-content text-center text-color-theme font-weight-bold px-5 mx-auto">
        <div class="row justify-content-center font-2xl">{{this.passedCourses}}/{{this.registeredCourses}}</div>
        <div class="row justify-content-center mt-n2 font-md">Passed</div>
      </div>
    </div>
  </div>
</div>