<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <span [translate]="'Widgets.UserProfile.Title'"></span>
    </h5>
    <div class="card-text">
      <div *ngIf="user$ | async as user">
        <ul>
          <li>ID: {{user.id}}</li>
          <li>Name: {{user.name}}</li>
          <li>AlternateName: {{user.alternateName}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>