<ktd-grid [cols]="cols" [rowHeight]="rowHeight" [layout]="layout" (layoutUpdated)="onLayoutUpdated($event)">
  <ktd-grid-item *ngFor="let item of layout; trackBy:trackById" [id]="item.id">
    <div class="m-2">
      <app-widget-loader [widget]="findComponentById(item.id)!"></app-widget-loader>
    </div>
  </ktd-grid-item>
</ktd-grid>
